Flask==3.1.2
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
joblib==1.5.2
jupyter_client==8.6.3
jupyter_core==5.9.1
numpy==2.3.5
packaging==25.0
PyJWT==2.10.1
scikit-learn==1.7.2
SQLAlchemy==2.0.44
stack-data==0.6.3
